a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  background-color: white;
}
.content {
  display: flex;
  width: 40%;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.content h1 {
  margin-top: -5px;
}
#emoji {
  width: 150px;
  cursor: pointer;
}
#emoji:hover {
  transform: rotate(30deg);
}
.content p {
  color: #a19f9a;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: large;
}
.icons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-top: 20px;
}
.fa-black-icons {
  color: black;
}
nav {
  margin-top: 30px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: large;
}
nav a:hover {
  color: #a19f9a;
}

footer {
  width: 100%;
  text-align: center;
  border-top: 1px solid #a19f9a;
  padding-top: 40px;
  margin-top: 40px;
  color: #a19f9a;
  font-size: small;
}
